body {
				font-family: "Helvetica Nene", Helvetica, Arial;
				color: #151c37;
				background-image: url("https://preview.ibb.co/b4HVGm/lame_gaussian_blur_1920x1080_w_1920x1080_artwallpaperhi_com.jpg");
				background-repeat: no-repeat;
				background-attachment: fixed;
				background-size: cover;	
			}