body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.15vw; 
	color: #13342a;
	background-image: url("https://preview.ibb.co/b4HVGm/lame_gaussian_blur_1920x1080_w_1920x1080_artwallpaperhi_com.jpg");		background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
.wrapper {
	min-width: auto;
	max-width: 70%;
	float: left;
	margin-left: 1.1%;
	border: 1px solid #151c37;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.topheader-font {
	font-family: 'Merienda One', cursive;
	font-size: 2.8vw;
	top-margin: 3em;
	padding: 0.2%;
	text-align: center;
	text-shadow: rgba(0, 0, 0, 0.8) 0px 1px 0.3em;
	color: #151c37;
}
.sidebar {
	min-width: auto;
	max-width: 25%;
	margin-left: 73.5%;
	border: 1px solid #151c37;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
}
.buttons {
	left-margin: 20px;
	text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.button_nohover {
	background-color: rgba(21, 28, 55, 0.3);
	font-family: 'Merienda One', cursive;
	font-size: 1.7vw;
	color: #13342a;
	width: 100%;
	padding: 0.25vw;
	min-height: auto;
	max-height: auto;
	border: 1px solid #151c37;
}
.button_hover:hover {
	background-color: rgba(21, 28, 55, 0.7);
	font-family: 'Merienda One', cursive;
	color: #518575;
	width: 100%;
	border: 1px solid #151c37;
}
.spantag {
	line-height: 3vw;
	background-color: rgba(21, 28, 55, 0.3);
	text-align: justify;
	margin-left: 0.4vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
}
.button_nohoverw {
	background-color: rgba(21, 28, 55, 0.3);
	font-family: 'Merienda One', cursive;
	font-size: 1.8vw;
	color: #13342a;
	width: 100%;
	padding: 0.05vw;
	margin: 1.5vw;
	min-width: auto;
	max-width: 13vw;
	border: 1px solid #151c37;
}
.button_hoverw:hover {
	background-color: rgba(21, 28, 55, 0.7);
	font-family: 'Merienda One', cursive;
	color: #518575;
	width: 100%;
	border: 1px solid #151c37;
}
.category {
	background-color: rgba(21, 28, 55, 0.2);
	min-width: auto;
	max-width: 25%;
	margin-left: 73.5%;
	border: 1px solid #151c37;
	box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.5);
	font-family: 'Poppins', sans-serif;
	text-align: center;
	font-size: 1.15vw; 
	line-height: 3vw;
}
a:link {
	color: #13342a;
}
a:visited {
	color: rgba(21, 28, 55, 1);
}
a:hover {
	color: rgba(21, 28, 55, 1);
}
a:active {
	color: #13342a;
}